<div class="login d-flex hg-100">
  <div class="login__part wd-40">
    <div class="login__part--left">
      <!-- <div class="login__logo"> -->
      <!-- AQUI SE PUEDE CAMBIAR EL TAMAÑO DEL LOGO COMO PARAMETRO DEL COMPONENTE -->
      <app-logo [componentWidth]="200"></app-logo>
      <!-- </div> -->

      <h1 class="login__title">Registrarme con mi cuenta de Amazon</h1>
      <div class="inputs-group">
        <div class="input mb-2">
          <label for="fullname" class="input__label">Full name</label>
          <input
            class="input__form mt-1"
            id="fullname"
            name="fullname"
            type="text"
          />
        </div>
        <div class="input mb-2">
          <label for="email" class="input__label">Email</label>
          <input
            class="input__form mt-1"
            id="email"
            name="email"
            type="email"
          />
        </div>
        <div class="inputWithicon mb-2">
          <label for="constrasenia" class="input__label">Contraseña</label>
          <input
            class="input__form mt-1"
            id="constrasenia"
            name="constrasenia"
            type="password"
          />
          <i class="fas fa-eye fa-2x" aria-hidden="true"></i>
          <p class="input__warning mt-1">Debe tener al menos 6 caracteres</p>
        </div>
      </div>

      <button class="button button--yellow">
        <div class="button__label">Registrarme</div>
      </button>
      <div class="d-space-between">
        <div class="d-flex-vertical">
          <input type="checkbox" id="data_login" name="data_login" value="" />
          <label for="data_login" class="checkbox__label ml-1"
            >Recordar mis datos</label
          ><br />
        </div>
        <a class="link" href="#">Soy nuevo en Amazon</a>
      </div>
    </div>
  </div>
  <div class="login__part--right wd-60">
    <div class="login__part--overlay">
      <div class="login__words-container">
        <div class="d-flex-horizontal">
          <h1 class="dis-4" style="width: 500px">
            Registrate y obten un audiolibro gratis
          </h1>
        </div>
        <div class="d-flex mt-5">
          <div class="wd-50"></div>
          <h2 class="wd-30 dis-3">
            Escuchar tus audiolibros favoritos es mas facil que nunca
          </h2>
          <div class="wd-20"></div>
        </div>
        <div class="d-flex mt-5">
          <div class="wd-50"></div>
          <h3 class="wd-30 dis-2">
            Al registrarte, tu membresia incluye 30 dias con 1 audiolibro +
            Audible Originals selectos totalmente gratis
          </h3>
          <div class="wd-20"></div>
        </div>
      </div>
      <h1>Title</h1>
    </div>
  </div>
</div>
